.mediaGallery {
  transform: translateZ(2px) translateY(-10em) scale(0.8);
  transform-style: preserve-3d;
  padding-block: 200px;
  margin-bottom: -100px;
  background-color: var(--red);
  position: relative;
  z-index: 1;

  & h2 {
    color: var(--yellow);
  }

  & p {
    max-width: 600px;
    margin-top: 16px;
    margin-bottom: 36px;
    color: #f7f2f1;
  }

  & a {
    margin-bottom: 60px;
  }

  & > div {
    transform: translateZ(1px) scale(0.9);
  }

  & a {
    color: #f7f2f1;
  }
}
.mediaGallery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  transform: translateY(calc(-100% + 1px)) rotate(180deg);
  background-image: var(--src);
  min-width: 1300px;
}

.mediaGallery::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  transform: translateY(calc(100% - 1px));
  background-image: var(--src);
  min-width: 1300px;
}

.galleryPreview {
  overflow-x: scroll;
  padding: 16px;
  margin-inline: -16px;
  display: flex;
  gap: clamp(24px, 4vw, 64px);
}

.imageWrapper {
  min-width: 200px;
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
}

.imageWrapper::before {
  content: "";
  background-color: #ffffff58;
  border-radius: 12px;
  position: absolute;
  z-index: -1;
  inset: 0;
  height: 100%;
  width: 100%;
  transform: translate(-5%, 5%);
}

.imageWrapper img {
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.galleryPreview ~ a {
  margin-top: 60px;
  margin-inline: auto;
}
