@keyframes fadeIn {
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  animation: fadeIn 1s
    linear(
      0,
      0.1407 4.43%,
      0.9383 16.72%,
      1.0774 20.43%,
      1.1493 24.31%,
      1.1629 26.95%,
      1.1536 29.93%,
      1.0168 43.09%,
      0.9766 51%,
      1.0033 76.88%,
      1
    )
    both;
}

.initial {
  opacity: 0;
  scale: var(--scale);
  transform: translateX(var(--translateX)) translateY(var(--translateY));
}
