button {
  cursor: pointer;
}

html,
body {
  --light-yellow: #fff8e3;
  --yellow: #ffde5a;
  --red: #ac3726;
  background-color: var(--light-yellow);
}

.parallax {
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  perspective: 10px;
  transform-style: preserve-3d;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  transform: translateZ(-9px) scale(2);
  display: grid;
  place-content: center;
  opacity: 0.1;

  img {
    width: 90vw;
  }
}

ul,
ol {
  padding: 0;
}

a {
  color: inherit;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
