.contactForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contactForm input,
.contactForm textarea {
  padding: 16px;
  border-radius: 8px;
  border: #e4e4e4 1px solid;
}

.contactForm textarea {
  resize: none;
}

.contactForm button {
  width: auto;
}

.error {
  color: #ac3726;
  border: #ac3726 1px solid;
  padding: 10px;
}
