.headerWrapper {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #ffffff0a;
  backdrop-filter: blur(10px);
}

.header {
  display: flex;
  max-width: 1088px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-block: 16px;
}

.header > a > svg {
  max-height: 50px;
  width: auto;
  color: #e5b917;
  transition: transform 0.2s ease-out;
}

.header > a > svg:hover {
  transition: transform 0.1s ease-out;
  transform: rotate(-2deg) scale(0.95);
}

.navList {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navList a {
  text-decoration: none;
}

.socialMedia {
  list-style: none;
  display: flex;
  gap: 16px;
}
